/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: white;
    font-family: "Sahitya", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
}

/* ------ HEADINGS ------ */
h1, h2, h3 {
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h1 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}
h2 {
    font-size: 180%;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 110%;
}

/* ------  Automated Projects PARAGRAPHS ------ */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
}
.span-1-of-3 p {
    font-size: 90%;
    line-height: 145%;
    margin-right: 20px;
}

/* ------ BUTTONS ------ */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-resume:link,
.btn-resume:visited {
    background-color: #2f3542;
    border: 1px solid #2f3542;
    margin-right: 15px;
}

.btn-github:link,
.btn-github:visited {
    border: 1px solid #fff;
}

.btn:hover,
.btn:active {
    background-color: #687591;
}

.btn-resume:hover,
.btn-resume:active {
    background-color: #687591;
    border: 1px solid #2f3542;
}

.btn-github:hover,
.btn-github:active {
    border: 1px solid #fff;
}

/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/typewriter4.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-txt-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* -------------------------------------------------- */
/* Navigation Bar: HOME, ABOUT, Projects, Contact */
/* -------------------------------------------------- */

.main-nav,
.projects-nav{
    float: right;
    list-style: none;
}
.main-nav li,
.projects-nav li {
    display: inline-flex;
    margin-left: 40px;
    margin-top: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}
.projects-nav li a:link,
.projects-nav li a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    font-size: 120%;
    transition: font-size 0.2s;
}
.projects-nav li a:hover,
.projects-nav li a:active {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    font-size: 120%;
    transition: font-size 0.2s;
}


.sub-menu-1 {
    display: None;
}

.main-nav li:hover .sub-menu-1,
.projects-nav li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}

.main-nav li:hover .sub-menu-1 ul li,
.projects-nav li:hover .sub-menu-1 ul li {
    display: block;
    margin: 20px;
}

/* -------------------------------------------------- */
/* Icons */
/* -------------------------------------------------- */

.project-logo {
    height: 12%;
    width: 12%;
}

/* -------------------------------------------------- */
/* Projects Page */
/* -------------------------------------------------- */

header.projects {
    background-image: None;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/*.projects-nav {*/
/*    float: right;*/
/*    list-style: none;*/
/*}*/
/*.projects-nav li {*/
/*    display: inline-block;*/
/*    margin-left: 40px;*/
/*    margin-top: 20px;*/
/*}*/

/*.projects-nav li a:link,*/
/*.projects-nav li a:visited {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    font-size: 90%;*/
/*    border-bottom: 2px solid transparent;*/
/*}*/

/*.projects-nav li a:hover,*/
/*.projects-nav li a:active {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    border-bottom: 2px solid black;*/
/*    font-size: 120%;*/
/*    transition: font-size 0.2s;*/
/*}*/
.section-features {
    color: black;
}
